.grid-content {
  display: grid;
  grid-gap: 30px;
  @include media-below(sm) {
    display: block;
  }
  &.col-1 {
    grid-template-columns: 400px auto;
  }
  &.col-2 {
    grid-template-columns: 1fr 1fr;
    @include media-below(sm) {
      grid-template-columns: none;
    }
  }
  &.col-3 {
    grid-template-columns: 1fr 1fr 1fr;
    @include media-below(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-below(sm) {
      grid-template-columns: none;
    }
  }
}
